body, html{
  height: 100%;
  /*background-color: rgba(106, 149, 190, 0.25);*/
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

h1{
  text-align: center;
}

h3{
  padding-top:
}

footer{
  padding: 0;
  margin: 0;
  height: 100px;
  align-items: center;
  width: 650px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: black;
}

footer>ul{
  list-style-type: none;
}
.base-pict{
  background-image: url(./photo.jpg);
  background-position: center;
  background-size: cover;
  /*background-color: white;*/
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  left: 2%;
}


.parallax{
  background-image: url(./assets/imgs/background/lyon2.jpg);
  height: 150px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
/*  background-color: red;*/
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.txt{
  position: fixed;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
}

.txt-alt{
  position: sticky;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;

}



.flex-base{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;


}



.flex-row-revers{
  flex-direction: row-reverse;
}

.flex-column{
  flex-direction: column;
  text-align: center;
}

.full-width{
  width: 100%;
}

.link-no-style{
  text-decoration: none;
  color: black;
}


.menu-buttons{

  list-style-type: none;
  padding-top: 10px;
  padding: 0;
  margin: 0;
  height: 90px;
  align-items: center;
  text-transform: uppercase;
  width: 950px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: black;
  position: fixed;
  background-color: rgba(112, 112, 112, 0.3);
  top: 10px;
}

.menu-buttons-alt{

  list-style-type: none;
  padding-top: 10px;
  padding: 0;
  margin: 0;
  height: 40px;
  align-items: center;
  text-transform: uppercase;
  width: 950px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: black;
  position: fixed;
  background-color: rgba(112, 112, 112, 0.5);
  top: 0;
}




.menu-buttons>li>a:hover{
  text-decoration: underline;
}

.base-card{
  padding: 20px;
  margin: 0px;
  min-height: 150px;
  max-height: 150px;
  width: 80%;
  /*box-shadow: 5px 5px 5px 5px rgba(61,61,61,0.75);*/

}

.base-card-skills{
  padding: 20px;
  margin: 0px;
  min-height: 150px;
  max-height: 150px;
  width: 80%;
}

.border-card{
  border-right: solid 1px black;
}

.list-no-style{
  list-style-type: none;
}

.core-section{
  height:  500px;
}



/*Bar container*/

.progress-container{
  margin-right: 30px;
  position: relative;
  width: 300px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: lightgray;
  box-shadow: inset 0px 10px 10px -3px #656565;
}

.progress-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 13px;
  
  height: 30px;
  background-color: lightskyblue;
  /*background:repeating-linear-gradient(-45deg, lightblue, lightblue 20px, lightskyblue 20px, lightskyblue 40px);*/
  font-size: 16px;
}

.percent-25{
width: 25%;
}

.percent-50{
  width: 50%;
}







/*MediaQueries*/

@media screen and (max-width: 1530px) {

}