/*Selectors for balises*/
* {
  font-family: 'Muli', sans-serif;
}
header, footer{
  height: 80px;
  /*background-color: #4A486B;*/
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: white;
  margin-top: 5px;


}
footer{
  height: 50px;
  color: white;

}
body{
  /*background-image: url(./cardbkg.png);*/
  background-color: rgba(41, 117, 168, 0.75);


}
main{
  margin-top: 80px;
  margin-bottom: 20px;

}
section{


}
h3{
  /*text-transform: uppercase;*/
  font-size: 200%;

}
h1{
  line-height: 20em;
  color: white;
}

.bannerContainer{
  height: 500px;
  width: 100%;
}

.banner{
  height: 100%;
  width: 100%;
  text-align: center;
  /*background-image: url(./lyon.jpg);*/
  background-repeat: no-repeat;
  background-position: center;
}
.link-no-style{
  text-decoration: none;
  color: inherit;
}

.position-fixed{
  position: fixed;
    top: 0;
    width: 100%;
}

.full-height{
  height: 100%;
}
.full-width{
  width: 100%;
}
.flex-base{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flex-row-revers{

  flex-direction: row-reverse;

}
.flex-center{
  align-items: center;
}
/*.flex-left{
  align-items: flex-start;
}*/
.flex-column{
  flex-direction: column;
}

.menu-buttons>li>a, .footer-buttons{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
}
.menu-buttons>li>a:hover{
/*  background-image: url(./cardbkg.png);*/
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.no-padding-margin{
  margin: 0;
  padding: 0;

}
.list-no-style{
  list-style: none;
}

.p-base{
  width: 650px;
  text-align: justify;

}
.base-card{

  padding: 20px;
  margin: 20px;
  min-height: 150px;
  max-height: 150px;
  width: 100%;
  box-shadow: 5px 5px 5px 5px rgba(61,61,61,0.75);
  background-image: url(./background2.png);
  border-color: black;
}

#presentation{
  padding-top: 90px;
  padding-bottom: 90px;
}
#projets {
  padding-top: 90px;
  padding-bottom: 90px;
}
#competences{
  padding-top: 90px;
  padding-bottom: 90px;
}
#experiences{
  padding-top: 90px;
  padding-bottom: 90px;
}
