/*Selectors for balises*/
* {
  font-family: 'Muli', sans-serif;
}
header, footer{
  height: 80px;
  background-color: #262A6B;

}
footer{
  height: 50px;

}
body{
  background-image: url(./background2.png);

}
main{
  margin-top: 80px;
  margin-bottom: 20px;

}
section{
  padding-top: 90px;
  padding-bottom: 90px;
}

}
/*Selectors for classes*/
.link-no-style{
  text-decoration: none;
  color: inherit;
}
.image-container>img{
  max-width: 90%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.position-fixed{
  position: fixed;
    top: 0;
    width: 100%;
}

.image-container{
  width: 500px;
}
.full-height{
  height: 100%;
}
.full-width{
  width: 100%;
}
.flex-base{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flex-row-revers{

  flex-direction: row-reverse;

}
.flex-center{
  align-items: center;
}
/*.flex-left{
  align-items: flex-start;
}*/
.flex-column{
  flex-direction: column;
}

.menu-buttons>li>a, .footer-buttons{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
}
.menu-buttons>li>a:hover{
  background-image: url(./background2.png);
  color: black;

}

.no-padding-margin{
  margin: 0;
  padding: 0;

}
.list-no-style{
  list-style: none;
}

.p-base{
  width: 650px;
  text-align: justify;

}
.base-card{

  padding: 20px;
  margin: 20px;
  min-height: 150px;
  max-height: 150px;
  width: 100%;
  box-shadow: 0px 10px 25px 6px rgba(211,211,211,0.75);
  background-color: #BCC5FC;
}
.rounded-image{
  border-radius: 8px;
}
